* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  text-align: center;
  padding: 40px;
}


p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}


.h1 {
  color: #e63946; 
  font-size: 48px;
  margin: 10px 0;
}

.h2 {
  color: #1d3557; 
  font-size: 44px;
  margin: 10px 0;
}

.h3 {
  color: #2a9d8f; 
  font-size: 42px;
  margin: 10px 0;
  text-transform: capitalize;
}
img {
  margin-top: 30px;
  width: 300px;
  max-width: 100%;
}